@mixin min($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

@mixin max($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

@mixin between($sizemin, $sizemax) {
  @media (min-width: $sizemin) and (max-width: $sizemax) {
    @content;
  }
}

/* -------------------------------------------------------------------------- */
/*                                   Resets                                   */
/* -------------------------------------------------------------------------- */
@mixin reset-button {
  appearance: none;
  border: none;
  background-color: transparent;
  outline: none;
  outline-style: none;
  outline-color: transparent;
  padding: 0;

  &:focus {
    outline: none;
    outline-style: none;
    outline-color: transparent;
  }
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset-input {
  border-radius: 0;
  appearance: none;
  padding: 0;
  border: none;
  font-size: 16px;
}
