@use "./variables" as *;

@mixin min($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

@mixin max($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

@mixin between($sizemin, $sizemax) {
  @media (min-width: $sizemin) and (max-width: $sizemax) {
    @content;
  }
}

/* -------------------------------------------------------------------------- */
/*                                   Resets                                   */
/* -------------------------------------------------------------------------- */
@mixin reset-button {
  appearance: none;
  border: none;
  background-color: transparent;
  outline: none;
  outline-style: none;
  outline-color: transparent;
  padding: 0;

  &:focus {
    outline: none;
    outline-style: none;
    outline-color: transparent;
  }
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset-input {
  border-radius: 0;
  appearance: none;
  padding: 0;
  border: none;
  font-size: 16px;
}

/* -------------------------------------------------------------------------- */
/*                                    Text                                    */
/* -------------------------------------------------------------------------- */
@mixin wsywig($theme: light) {
  color: if($theme == light, rgba(255, 255, 255, 0.8), #000);
  line-height: 1.4;

  p {
    margin-bottom: 20px;
    font-size: 18px;

    @include max($mobile) {
      font-size: 16px;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
    margin-bottom: 10px;
    line-height: 1.2;
  }

  a {
    color: $light-blue;
    text-decoration: underline;

    &:hover {
      color: darken($light-blue, 10%);
    }
  }

  // blockquote {
  //   border-left: 4px solid $light-blue;
  //   padding-left: 15px;
  //   margin-left: 0;
  //   color: $light-grey;
  //   font-style: italic;
  // }

  ul,
  ol {
    margin-left: 20px;
    margin-bottom: 20px;
    // list-style: disc;

    li {
      margin-bottom: 10px;
      font-size: 18px;

      @include max($mobile) {
        font-size: 16px;
      }
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  strong {
    font-weight: 700;
  }

  em {
    font-style: italic;
  }
}
