/* -------------------------------------------------------------------------- */
/*                                 Theme Path                                 */
/* -------------------------------------------------------------------------- */
$path: "/wp-content/themes/movement";
$root: $path;

/* -------------------------------------------------------------------------- */
/*                                 Font Family                                */
/* -------------------------------------------------------------------------- */
$font-primary: "Amiko", serif;
$font-secondary: "Spartan", sans-serif;
$font-drawn: "Delicious Handrawn", sans-serif;
// $font-primary: var(--wp--preset--font-family--primary); // sofia
// $font-secondary: var(--wp--preset--font-family--secondary); // dm sans

/* -------------------------------------------------------------------------- */
/*                                 Font Family                                */
/* -------------------------------------------------------------------------- */
$font-size-base: var(--wp--custom--typography--font-size--base);
$font-size-14: var(--wp--preset--font-size--tiny);
$font-size-16: var(--wp--preset--font-size--small);
$font-size-18: var(--wp--preset--font-size--normal);
$font-size-21: var(--wp--preset--font-size--medium);
$font-size-25: var(--wp--preset--font-size--large);
$font-size-30: var(--wp--preset--font-size--x-large);
$font-size-36: var(--wp--preset--font-size--huge);
$font-size-42: var(--wp--preset--font-size--enormous);
$font-size-50: var(--wp--preset--font-size--tremendous);
$font-size-60: var(--wp--preset--font-size--immense);
$font-size-71: var(--wp--preset--font-size--colossal);
$font-size-84: var(--wp--preset--font-size--gigantic);
$font-size-100: var(--wp--preset--font-size--gargantuan);

/* -------------------------------------------------------------------------- */
/*                                   Colors                                   */
/* -------------------------------------------------------------------------- */
// $color-accent: #007fbd;
// $color-primary: #232731;
// $color-primary-dark: #1c1f27;
// $color-secondary: $color-accent;
// $color-tertiary: #f5f7f7;

// $color-text-primary: #1c1f27;

// $color-foreground: #444444;
// $color-background: var(--wp--custom--color--background);
// $color-heading: var(--wp--custom--color--heading);

/* -------------------------------------------------------------------------- */
/*                                   Helpers                                  */
/* -------------------------------------------------------------------------- */
$border-radius: 7px;

/* -------------------------------------------------------------------------- */
/*                                    Sizes                                   */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                   Columns                                  */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                    Sizes                                   */
/* -------------------------------------------------------------------------- */
