@use "../abstracts" as *;

.about-section {
  position: relative;
  background-color: $navy-blue;
  padding-top: 50px;
  padding-bottom: 100px;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    // bottom: -300px;
    top: 0;
    width: 100%;
    height: 800px;
    // height: 50%;
    background-image: url($root + "/assets/images/teal-splat-down.svg");
    background-size: contain;
    background-position: top;
    background-repeat: repeat-x;
    z-index: -1;
  }

  &__section-header {
    margin-bottom: 100px;
  }

  &__city {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
    text-align: center;
    column-gap: clamp(50px, 8vw, 100px);
    row-gap: 70px;
    margin-bottom: clamp(80px, 25vw, 200px);
  }

  &__city-image {
    width: 100%;
    height: 100%;
  }

  &__city-image-container {
    display: block;
    position: relative;
    // width: 600px;
    max-width: 100%;
    // aspect-ratio: 1 / 1;
    margin: 0 auto;
  }

  &__beacon {
    position: absolute;
    top: 31%;
    right: 36%;
    height: 12px;
    width: 12px;
    z-index: 1;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: #2b70f9;
      border-radius: 50%;
    }

    &::after {
      content: "";
      // position: absolute;
      // top: inherit;
      // right: inherit;\
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      display: block;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      background-color: #2b70f9;
      opacity: 0.8;
      animation: pulse 1.8s infinite;
    }

    @keyframes pulse {
      0% {
        width: 100%;
        height: 100%;
      }
      100% {
        width: 240%;
        height: 240%;
        opacity: 0;
      }
    }
  }

  &__city-game-container {
    width: 500px;
    max-width: 100%;
    // margin-left: auto;
    margin: 0 auto;
  }

  &__memoji-wrapper {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 100%;
    height: 200px;
    aspect-ratio: 1 / 1;
    margin-top: 57px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    // &::before {
    //   content: "";
    //   position: absolute;
    //   bottom: calc(100% - 30px);
    //   right: 0;
    //   display: block;
    //   width: 40px;
    //   height: 110px;
    //   transform: rotate(30deg);
    //   background-color: #fff;
    //   z-index: 1;
    // }
  }

  &__memoji {
    height: 100%;
    width: 100%;
  }

  &__feeling-heading {
    font-family: $font-comic;
    display: inline-block;
    font-size: 25px;
    color: #000;
    // margin-bottom: 20px;
    background-color: #fff;
    border-radius: 20px;
    padding: 25px 20px;
    // transform: rotate(6deg) translateY(4px);
  }

  &__scorebug-container {
    position: relative;
    margin-bottom: 30px;

    // &--top {
    //   &::after {
    //     content: "";
    //     position: absolute;
    //     top: 100%;
    //     right: 45%;
    //     display: block;
    //     width: 80px;
    //     height: 30px;
    //     transform: rotate(43deg);

    //     background-color: #fff;
    //     z-index: 1;
    //   }
    // }
  }

  &__scorebug-pipe-top {
    position: absolute;
    top: 100%;
    right: calc(50% - 24px);
    display: block;
    // width: 100px;
    height: 30px;
    z-index: 1;
  }

  &__scorebug-pipe-top {
    pointer-events: none;
    position: absolute;
    top: 100%;
    right: calc(50% - 24px);
    display: block;
    // width: 100px;
    height: 30px;
    z-index: 1;
  }

  &__scorebug-pipe-last {
    pointer-events: none;
    position: absolute;
    bottom: calc(100% - 3px);
    right: calc(50% - 24px);
    display: block;
    // width: 100px;
    height: 60px;
    z-index: 1;
  }

  &__playful-half {
    margin-bottom: clamp(60px, 23vw, 225px);
  }

  &__degree-header {
    position: relative;
    display: table;
    // margin: 0 auto 111px auto;
    margin: 0 auto 145px auto;
    text-align: center;
    font-family: $font-drawn;
    color: #fff;
    font-size: clamp(32px, 5vw, 45px);
    text-transform: lowercase;

    &::before {
      content: "";
      position: absolute;
      top: calc(100% + 35px);
      right: 95%;
      display: block;
      width: 56px;
      height: 76px;
      background-image: url($root + "/assets/images/drawn-arrow-straight-left.svg");
      background-size: contain;
      background-repeat: no-repeat;

      @include max($mobile) {
        right: 70%;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: calc(100% + 35px);
      left: 95%;
      display: block;
      width: 56px;
      height: 76px;
      background-image: url($root + "/assets/images/drawn-arrow-straight-right.svg");
      background-size: contain;
      background-repeat: no-repeat;

      @include max($mobile) {
        left: 70%;
      }
    }
  }

  &__degree-container {
    margin-top: 50px;
    background-color: #d6d6d6;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding: clamp(35px, 5vw, 80px) clamp(20px, 3vw, 80px);
  }

  &__degree-inner {
    // max-width: 800px;
    margin: 0 auto;
  }

  &__degree-icon {
    height: 50px;
    width: 50px;
    object-fit: contain;
    margin-bottom: 40px;
  }

  &__degree {
    font-family: sans-serif;
    color: #474747;
  }

  &__degree-headline {
    font-size: 32px;
    margin-bottom: 20px;
  }

  &__degree-subheading {
    font-size: 20px;
    color: #474747;
    margin-bottom: 20px;
    line-height: 1.2;
  }

  &__degree-status {
    font-size: 14px;
  }

  &__try-text {
    margin-top: 20px;
    margin-bottom: 12px;
  }

  &__try-list {
    display: grid;
    gap: 10px;
    list-style-type: disc;
    margin-left: 30px;
    line-height: 1.3;

    a {
      // generic blue link color
      color: #1a73e8;
      text-decoration: none;
    }
  }

  &__degree-reload {
    cursor: pointer;
    border: none;
    appearance: none;
    border-radius: 2px;
    background-color: #3d7ee6;
    color: rgba(255, 255, 255, 0.7);
    padding: 12px 30px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    // border-radius: 20px;
    // box-sizing: border-box;
    // background-color: rgb(138, 180, 248);
    // // color: var(--primary-button-text-color);
    // color: rgb(32, 33, 36);
    // cursor: pointer;
    // font-size: 0.875em;
    margin: 30px 0 0 0;
    // padding: 10px 16px;
    // transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1);
    // user-select: none;
  }

  &__degree-more-info {
    margin-top: 30px;
  }

  &__more-info-heading {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: $font-drawn;
    letter-spacing: 2px;
  }

  &__more-info-text {
    font-size: 18px;
    line-height: 1.4;
    max-width: 700px;
    font-family: $font-primary;
  }

  &__degree-note {
    max-width: 600px;
    margin-top: 60px;
    // margin-left: auto;
    // margin-right: auto;

    @include max($mobile) {
      max-width: none;
      width: auto;
      margin-left: -8px;
      margin-right: -8px;
    }
  }

  &__whats-next {
    font-size: 43px;
    font-family: $font-drawn;
    line-height: 1.3;
    color: #fff;
    display: table;
    text-align: center;
    margin: 60px auto 0 auto;
  }

  &__blob-container {
    position: relative;
    width: 900px;
    // height: 900px;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto 0 auto;
    padding: 40px;
    // height:;
    background: #daedbd; /* start color */
    border-radius: 30% 70% 70% 30% / 64% 30% 70% 36%;
    animation: morphColors 30s ease-in-out infinite alternate;
  }

  /* Morphing blob + color cycling */
  @keyframes morphColors {
    0% {
      border-radius: 30% 70% 70% 30% / 64% 30% 70% 36%;
      background: #daedbd;
    }
    14% {
      border-radius: 58% 42% 34% 66% / 48% 72% 28% 52%;
      background: #7dbbc3;
    }
    28% {
      border-radius: 65% 35% 50% 50% / 40% 60% 50% 60%;
      background: #de6b48;
    }
    42% {
      border-radius: 45% 55% 70% 30% / 35% 65% 40% 60%;
      background: #e5b181;
    }
    57% {
      border-radius: 52% 48% 35% 65% / 60% 40% 55% 45%;
      background: #8e9b90;
    }
    71% {
      border-radius: 40% 60% 65% 35% / 50% 45% 55% 50%;
      background: #93c0a4;
    }
    85% {
      border-radius: 60% 40% 42% 58% / 55% 40% 60% 45%;
      background: #551b14;
    }
    100% {
      border-radius: 30% 70% 70% 30% / 64% 30% 70% 36%;
      background: #daedbd; /* return to start */
    }
  }

  &__blob {
    max-width: 100%;
  }

  &__video-wrapper {
    max-width: 70%;
    aspect-ratio: 1 / 1;
    background-color: #000;
    overflow: hidden;
    border-radius: 30% 70% 70% 30% / 64% 30% 70% 36%;
    animation: morph 15s ease-in-out infinite alternate;
  }

  /* Keyframes for morphing blob */
  @keyframes morph {
    0% {
      border-radius: 30% 70% 70% 30% / 64% 30% 70% 36%;
    }
    25% {
      border-radius: 58% 42% 34% 66% / 48% 72% 28% 52%;
    }
    50% {
      border-radius: 65% 35% 50% 50% / 40% 60% 50% 60%;
    }
    75% {
      border-radius: 40% 60% 65% 35% / 50% 45% 55% 50%;
    }
    100% {
      border-radius: 30% 70% 70% 30% / 64% 30% 70% 36%;
    }
  }

  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
  }
}

.thetext {
  position: absolute;
  left: -25px;
  top: -20px;
  font-family: $font-comic;
  letter-spacing: 3px;
}
