@use "../abstracts" as *;

.funny-section {
  background-color: #6da0ad;
  // padding: 20vw 0;
  // padding-top: clamp(80px, 20vw, 150px);
  text-align: center;
  font-family: $font-drawn;
  padding: clamp(120px, 20vw, 250px) 0;
  min-height: 100vh;
  display: flex;
  align-items: center;

  &__inner {
    max-width: 900px;
    margin: 0 auto;
  }

  &__wow {
    color: #fff;
    // font-size: clamp(1rem, 128px, 8rem);
    font-size: clamp(50px, 12vw, 128px);
    transform: rotate(10deg);
    display: inline-block;
  }

  &__middle-container {
    display: flex;
    justify-content: center;
    // use clamp for column gap, 5vw but min 20px max 60px
    gap: clamp(20px, 5vw, 60px);
    margin-top: 50px;
  }

  &__likeme {
    margin-top: 40px;
    font-size: clamp(25px, 3vw, 45px);
    color: #0d0e0f;
    transform: rotate(-8deg);
  }

  &__scroll-text {
    font-size: clamp(23px, 2.3vw, 30px);
    transform: rotate(13deg);
    position: relative;
  }

  &__bottom-container {
    display: inline-block;
    position: relative;
    // NOTE: flip max and min because of negative value?
    left: clamp(-100px, -10vw, -25px);
    top: clamp(-80px, -5vw, -20px);
  }

  &__arrow {
    margin-top: 28px;
    @include max($ipad-air) {
      margin-top: 15px;
      max-width: 45px;
    }
  }

  &__image {
    max-width: 320px;
    width: 30vw;
    min-width: 175px;
  }
}
