@use "../abstracts" as *;

$header_breakpoint_1: 875px;
$header_breakpoint_2: 730px;
$header_breakpoint_3: 500px; // mobile

.header {
  padding: 3vh 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(50% 50% at 50% 50%, #0b2362 0%, #3a4f89 0%, #222429 97.37%);

  &__idcta {
    display: none;
    z-index: 1;

    @include max($header_breakpoint_2) {
      display: block;
    }
  }

  &__my-card {
    transition: clip-path 0.2s ease-in-out;
    // cubic bezier for a bit of bounce
    // transition: clip-path 0.5s cubic-bezier(0, 1.09, 1, -0.1);

    @include max($header_breakpoint_2) {
      position: fixed;
      top: 20px;
      right: 20px;
      clip-path: circle(0% at 100% 0);
      max-width: calc(100% - 40px);
    }

    &--open {
      clip-path: circle(140.8% at 1% 100%);
    }
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;

    @include max($header_breakpoint_2) {
      flex-direction: column;
    }
  }

  &__content-section {
    margin-left: 64px;
    line-height: 1.3;
    text-align: center;

    @include max($header_breakpoint_1) {
      margin-left: 4vw;
    }
  }

  &__content-mobile-container {
    display: none;

    @include max($header_breakpoint_2) {
      display: block;
    }
  }

  &__mobile-name {
    display: block;
    font-family: $font-secondary;
    font-weight: 800;
    font-size: 38px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    // -webkit-font-smoothing: antialiased;

    // TODO: test this in other browsers
    @supports (-webkit-text-stroke: 1px #fff) {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-text-stroke: 1px #fff;
      -webkit-font-smoothing: antialiased;
    }
    @supports not (-webkit-text-stroke: 1px #fff) {
      color: #fff;
    }

    @include max($header_breakpoint_3) {
      font-size: 30px;
    }
  }

  &__mobile-pfp {
    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 14px;
    font-size: 48px;

    @include max($header_breakpoint_1) {
      font-size: 32px;
    }

    @include max($header_breakpoint_2) {
      font-size: 48px;
    }

    @include max($header_breakpoint_3) {
      font-size: 38px;
    }
  }

  &__title-text {
    color: #fff;
    font-family: $font-secondary;
    font-weight: 800;
    text-transform: uppercase;
    display: block;
    letter-spacing: 4px;
  }

  &__content-text {
    color: #fff;
  }

  &__seperator-text {
    display: block;
    font-family: $font-secondary;
    font-size: 14px;
    color: #fff;
    margin: 18px auto;
  }

  &__content-text-btns {
    display: flex;
    gap: 13px;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__tldr {
    display: block;
    margin: 0 auto;
    max-width: 400px;
    font-size: 14px;
    line-height: 1.8;
  }
}
