@forward "../abstracts";
@forward "page";
@forward "container";
@forward "header";
@forward "main";
@forward "skills";
@forward "portfolio";
@forward "work";
@forward "funny-section";
@forward "about-section";
@forward "playful-half";
