@use "abstracts" as *;

$playful_half_breakpoint_1: 1000px;
$playful_half_breakpoint_2: 645px;

.playful-half {
  $self: &;
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  justify-content: space-between;
  column-gap: 20px;

  @include max($playful_half_breakpoint_1) {
    grid-template-columns: 1fr;
  }

  &__arrow {
    margin: 30px 30px 0 auto;
    display: block;

    @include max($playful_half_breakpoint_1) {
      margin: 60px auto 0 15%;
      transform: rotate(18deg);
    }
  }

  &__description-container {
    padding-top: 25px;
  }

  &__description {
    color: #fff;
    font-family: $font-drawn;
    font-size: clamp(26px, 2.7vw, 32px);
    line-height: 1.3;
    transform: rotate(-6deg);
    max-width: 475px;
    // max-width: 100%;
    margin: 0 auto;

    @include max($playful_half_breakpoint_1) {
      margin-right: auto;
      margin-left: 0;
    }
  }

  &__video-container {
    padding-top: clamp(40px, 8vw, 100px);
  }

  &__video-wrapper {
    max-width: 90%;
    border-radius: 59px;
    overflow: hidden;
    margin-left: auto;
    display: flex;
    border: solid #fff 6px;

    @include max($playful_half_breakpoint_1) {
      max-width: 78%;
    }

    @include max($playful_half_breakpoint_2) {
      max-width: 100%;
    }
  }

  &__iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
  }

  &--reverse {
    grid-template-columns: 1.2fr 0.8fr;

    @include max($playful_half_breakpoint_1) {
      display: flex;
      flex-direction: column-reverse;
      gap: 70px;
    }

    #{$self}__video-wrapper {
      margin-right: auto;
      margin-left: 0;
    }

    #{$self}__video-container {
      padding-top: 0;
    }

    #{$self}__description-container {
      // padding-top: clamp(20px, 3vw, 70px);
      padding-top: clamp(40px, 8vw, 100px);

      @include max($playful_half_breakpoint_1) {
        padding-top: 0;
        display: flex;
        flex-direction: column-reverse;
      }
    }

    #{$self}__description {
      transform: rotate(-6deg);
      margin-left: auto;
      margin-right: 0;
    }

    #{$self}__arrow {
      margin: 30px auto 10px 50px;
      transform: rotate(180deg);

      @include max($playful_half_breakpoint_1) {
        margin: 60px 25% 0 auto;
        transform: rotate(130deg);
        filter: flip(vertical);
      }
    }
  }
}
