@use "../abstracts" as *;

.work-section {
  position: relative;
  background-color: $navy-blue;
  // padding-top: 100px;
  z-index: 0;
  // background-image: url($root + "/assets/images/light-blue-splat.svg");
  // background-size: contain;
  // background-repeat: repeat-x;
  overflow: hidden;
  padding-top: 5vh;
  // padding-bottom: 20vh;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -2px;
    width: 100%;
    height: 100%;
    background-image: url($root + "/assets/images/light-blue-splat.svg");
    background-size: contain;
    background-position: top;
    background-repeat: repeat-x;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    width: 100%;
    height: 100%;
    background-image: url($root + "/assets/images/teal-splat-up.svg");
    background-size: contain;
    background-position: bottom;
    background-repeat: repeat-x;
    z-index: -1;
  }

  &__section-header {
    margin-bottom: 100px;
  }

  &__list {
    max-width: 700px;
    margin-inline: auto;
    display: grid;
    gap: 50px;
  }
}
