@use "../abstracts" as *;

.cats {
  $self: &;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 12px;

  &--centered {
    justify-content: center;
  }

  &__item {
    position: relative;
    font-family: $font-secondary;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      left: calc(100% + 12px);
      width: 3px;
      height: 3px;
      background-color: #a5efff;
      border-radius: 50%;
    }

    &:last-child::after {
      display: none;
    }
  }
}
