@use "../abstracts" as *;

.idcta {
  @include reset-button;
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #fff;
  height: 34px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius;
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;

  &__icon {
    display: flex;
    height: 22px;
    margin: 0 auto;
  }
}
