@use "sass:color";
@use "../abstracts" as *;

$clip_breakpoint: 600px; // NOTE: same as header clip-path change breakpoint

.my-card {
  max-width: 400px;
  width: 400px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @include between($clip_breakpoint, $ipad-air) {
    width: 100%;
    max-width: 100%;
  }

  @include max($mobile) {
    width: 100%;
    max-width: 100%;
  }

  &__main {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    @include between($clip_breakpoint, $ipad-air) {
      border-radius: $border-radius;
    }
  }

  &__middle {
    padding: 0 30px 30px 30px;

    @include between($clip_breakpoint, $ipad-air) {
      padding: 0 15px 25px 15px;
    }
  }

  &__pfp {
    // text-align: center;
    padding: 33px 5px 5px;
  }

  &__myname {
    margin-top: 18px;
    margin-bottom: 25px;

    @include between($clip_breakpoint, $ipad-air) {
      margin-bottom: 15px;
    }
  }

  &__contacts {
    display: block;
    width: 100%;
  }

  &__contacts-list {
    display: grid;
    gap: 19px;

    @include between($clip_breakpoint, $ipad-air) {
      display: flex;
      justify-content: center;
    }
  }

  &__contact-link {
    cursor: pointer;
    position: relative;
    display: block;
    text-align: center;
    background-color: #e7e7e7;
    padding: 15px 20px 15px 35px;
    border-radius: 25px;
    font-family: $font-secondary;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.15s ease;

    &:hover {
      background-color: darken(#e7e7e7, 5%);
    }

    &__phone:hover {
    }

    @include between($clip_breakpoint, $ipad-air) {
      padding: 0;
      height: 52px;
      width: 72px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__contact-icon {
    position: absolute;
    left: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;

    svg {
      width: 100%;
      height: 100%;
    }

    @include between($clip_breakpoint, $ipad-air) {
      position: static;
    }
  }

  &__contact-link-text {
    line-height: 1.3;
    display: inline-block;
    max-width: calc(100% - 35px);
    vertical-align: middle;
    // overflow with ellipsis if too long
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include between($clip_breakpoint, $ipad-air) {
      display: none;
    }
  }

  &__vcf-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 10px;
    background-color: #51659b;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    padding: 12px 30px;
    color: #fff;
    font-family: $font-secondary;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 2px;
    transition: background-color 0.15s ease;

    &:hover {
      background-color: darken(#51659b, 5%);
    }

    @include between($clip_breakpoint, $ipad-air) {
      display: none;
    }
  }

  &__vcf-icon {
    color: #fff;

    svg {
      width: 18px;
      fill: #fff;
    }
  }

  &__time {
    color: rgba(0, 0, 0, 0.7);
    font-size: 13px;
    text-align: center;
    padding-bottom: 20px;
  }
}

.myname {
  font-family: $font-secondary;
  font-weight: 800;
  font-size: 32px;
  letter-spacing: 4px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;

  &__text {
    display: block;
    text-align: center;
    background: linear-gradient(90deg, #0b2362 15.38%, rgba(238, 62, 62, 0.69) 50.96%, #08457e 70.19%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}
