@use "abstracts" as *;

.note {
  position: relative;
  margin-top: 60px;
  background-color: #ffffa5;
  min-width: 180px;
  width: 100%;
  max-width: 380px;
  // margin-right: auto;
  // margin-left: auto;
  padding: 20px;
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  transform: rotate(-1deg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  font-family: $font-drawn;

  &--width--auto {
    max-width: 100%;
  }

  &__heading {
    font-size: 28px;
    margin: 0 0 10px 0;
    color: #000;
  }

  &__text {
    font-size: 18px;
    line-height: 1.4;
    color: #000;
    text-align: center;
    margin: 0;
  }

  &__tape {
    background-color: hsla(0, 0%, 100%, 0.3);
    box-shadow: inset 0 0 1em 0.5em hsla(0, 0%, 100%, 0.1);
    height: 3em;
    position: absolute;
    top: -32px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    min-width: 100px;
    transform: rotate(3deg);
    max-width: 180px;
    -webkit-filter: drop-shadow(0 1px 0.7px hsla(0, 0%, 0%, 0.3));
  }
}
