@use "../abstracts" as *;

.scorebug {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fff;
  padding: 20px 20px;
  border-radius: 20px;
  position: relative;
  z-index: 0;

  // &--location--home {
  //   &::after {
  //     content: "";
  //     position: absolute;
  //     display: block;
  //     top: 0;
  //     left: 0;
  //     bottom: 0;
  //     height: 100%;
  //     width: 55%;
  //     background-color: #e81828;
  //     border-top-left-radius: 20px;
  //     border-bottom-left-radius: 20px;
  //     z-index: -1;
  //     clip-path: polygon(0 0, 100% 0, 89% 100%, 0% 100%);
  //   }
  // }

  &--win {
    box-shadow: 0 0 12px 2px rgba(0, 255, 0, 0.5);
  }

  &--lose {
    box-shadow: 0 0 12px 2px rgba(255, 0, 0, 0.5);
  }

  // &__logo-wrapper {
  //   margin-right: 20px;
  // }

  &__logo {
    max-width: 60px;
    max-height: 60px;
  }

  &__team {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    //   &::after {
    //     content: "";
    //     position: absolute;
    //     display: block;
    //     top: 0;
    //     left: 0;
    //     bottom: 0;
    //     height: 100%;
    //     width: 55%;
    //     background-color: #e81828;
    //     border-top-left-radius: 20px;
    //     border-bottom-left-radius: 20px;
    //     z-index: -1;
    //     clip-path: polygon(0 0, 100% 0, 89% 100%, 0% 100%);
    //   }
  }

  &__score {
    font-family: $font-secondary;
    font-size: 28px;
    font-weight: 700;
  }
}
