@use "../abstracts" as *;

.section-header {
  color: #fff;
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: $font-secondary;
  text-align: center;
  letter-spacing: 4px;

  // choosing to add margin-bottom here
  margin-bottom: 45px;
}
