@use "../abstracts" as *;

.tech-pill {
  font-size: 11px;
  font-weight: 500;
  font-family: $font-secondary;
  text-transform: uppercase;
  line-height: 1.1;
  text-decoration: none;
  padding: 8px 10px 6px 10px;
  border-radius: 12px;
  background-color: transparent;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
  color: #fff;
  text-align: center;
}
