@use "../abstracts" as *;

.page {
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
}

/* -------------------------------------------------------------------------- */
/*                                  Headings                                  */
/* -------------------------------------------------------------------------- */
.h1 {
  font-family: $font-secondary;
}

.h2 {
  font-family: $font-secondary;
}

.h3 {
  font-family: $font-secondary;
}

.h4 {
  font-family: $font-secondary;
}

.h5 {
  font-family: $font-secondary;
}

.h6 {
  font-family: $font-secondary;
}
